body {
  background-image: url(../assets/time_vortex.jpg);
  background-size: cover;
}
.content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 25px;
  margin: 70px;
  font-size: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

#information {
  margin-top: 10px; 
  font-size: 20px;
}
.tablinks {
  margin: 10px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden; /*makes sure that the image don't overtake the button limits*/
  outline: none; 
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.tablinks img {
  width: 100%;
  height: auto;

}

.tablinks:hover {
  filter: brightness(1.2);
}


.details{
  max-width: 15%;
  max-height: 15%;
  margin-right: 20px;
  margin: 2px auto;
}

.tabcontent h2, span{
  text-align: center;
}